@page
@model IndexModel


<html>
<head>
    <title>Cancelar Cita</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Nosotros</h2>

   <p style="color: black;">Nosotros nos encargamos de trastornos de ansiedad,
       terapia en grupo, tratamiento de trastornos del estado de ánimo,
       intervención en procesos de duelo, trastorno obsesivo-compulsivo,
       intervención en crisis, habilidades sociales y
       asertividad, Terapias Contextuales
       (Terapia de Aceptación y Compromiso, Activación Conductual)</p>


    <h2>Como trabajamos</h2>

    <p style="color: black;">El objetivo de la terapia psicológica es dotar a las personas de herramientas y
       habilidades que les ayuden a hacer frente a sus dificultades,
       de forma que puedan vivir una vida más plena y satisfactoria.</p>

    <p style="color: black;">Cada persona tiene unas necesidades distintas, 
       por lo que la forma de intervención más adecuada 
       dependerá de cada caso particular. Por eso antes de comenzar 
       la terapia es necesario realizar una evaluación, en forma de entrevista, 
       en que exploraremos el problema, la forma en que afecta a nuestra vida, 
       nuestras características particulares y también las metas y objetivos personales. 
       También es habitual el uso de tests o autorregistros para complementar la evaluación.</p>

</body>
</html>
