@page
@model IndexModel


<html>
<head>
    <title>Contacto</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1 style="color:black;">Contacto</h1>
    <p style="color: black;">Numero de telefono:</p>
    <p style="color: black;">646 177 5682</p>
    <p style="color: black;">Correo</p>
    <p style="color: black;">psicologia@ite.edu.mx</p>
    <p style="color: black;">Horario</p>
    <p style="color: black;">Lunes a Jueves: 9:00 am - 5:00 pm</p>
    <p style="color: black;">Viernes: 11:00 am - 7:00 pm</p>
    <p style="color: black;">Encargada:</p>
    <p style="color: black;">Psic. Vanezza Vieyra Hots</p>
</body>
</html>

